<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.ActionDao" >
  <resultMap id="BaseResultMap" type="entity.Action" >
    <id column="ACT_ID" property="actId" />
    <result column="ACT_NAME" property="actName"  />
  </resultMap>
 <select id="getActionListByJurName" resultType="entity.Action">
 	select * from jur_act where jur_name=#{jurName}
 </select>
 <select id="getActionTempListByJurName" resultType="entity.Action">
 	select * from jur_act_temp where jur_name=#{jurName}
 </select>
 <select id="getActionList" resultType="entity.Action">
 	select * from action 
 </select>
 <delete id="deleteActionByJurName">
 	delete  from jur_act where jur_name=#{jurName}
 </delete>
 <insert id="addAction">
 	<selectKey resultType="Integer" keyProperty="id" order="BEFORE">
 		select max(id)+1 from jur_act
 	</selectKey>
 	insert into jur_act values(#{id},#{jurName},#{actName})
 </insert>
</mapper>