<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.BuyListDao" >
  <resultMap id="BaseResultMap" type="entity.BuyList" >
    <id column="BLID" property="blid" />
    <result column="BLDATE" property="bldate" />
  </resultMap>
</mapper>