<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.InventoryDao" >
  <resultMap id="BaseResultMap" type="entity.Inventory" >
    <id column="INVID" property="invid" />
    <result column="PROID" property="proid" />
    <result column="PROAMOUNT" property="proamount" />
    <result column="SURPLUS" property="surplus" />
  </resultMap>
</mapper>