<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.JurisdictionDao">
  <resultMap id="BaseResultMap" type="entity.Jurisdiction">
    <id column="JURIID"  property="juriid" />
    <result column="JUR_NAME"  property="jurName" />
  </resultMap>
 	<select id="getJurListByUserId" resultType="entity.Jurisdiction">
 		select * from users_jur where user_id=#{userId}
 	</select>
 	<select id="getJurList" resultType="entity.Jurisdiction">
 		select * from jurisdiction
 	</select>
 	<delete id="deleteJurByUserId">
 		delete  from users_jur where user_id=#{userId}
 	</delete>
 	<insert id="addJur">
 		<selectKey keyProperty="id" resultType="Integer" order="BEFORE">
 		select max(id)+1 from users_jur
 		</selectKey>
 		insert into users_jur values(#{id},#{userId},#{jurName})
 	</insert>
</mapper>