<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.SendersDao" >
  <resultMap id="BaseResultMap" type="entity.Senders" >
    <result column="SEN_ID" property="senId"  />
    <result column="SUB_ID" property="subId"  />
    <result column="SEN_NAME" property="senName" />
  </resultMap>
 <select id="allSender" resultType="entity.Senders">
 	select * from senders
 </select>
</mapper>